html{
	background: white;
	text-align: center;
	margin-top: 3em;
}

h1{
	font-size:8em;
	color:purple;
	font-family:"Helvetica";
	padding: 0px;
	margin: 0px;
}
h2{
	font-size: 3em;
	color: black;
	font-family: "Helvetica";
	margin: 0px;
	padding: 0px;
}

h3{
	font-family: "Helvetica";
	color: grey;
	font-size: 2em;
	font
}

p{
	margin-top: 100px;
	font-family: "Helvetica";
	font-size: 5em;
	align-content: center;
	color: green;
}

input{
	font-size: 4em;
	color: black;
}

