body {
	background:  #3D145C;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

h1 { 
	color: #7C12CD;
	font-weight: bold;
	font-size: 400%;
}

h2 {
	font-weight: bold;
}

p {
	color: #cccc00;
	font-weight: bold; 
	font-size: 170%;
}

.table-title{
	font-size: 150%;
}
.jumbotron {
	background: #171721;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 20px;
}

.navbar-brand {
	font-size: 1.5em;
	padding: 0px;
	margin: 0px;
}

#mario {
	height: 40%;
	width: 40%;
	margin-top: 0px;
	margin-bottom: 30px;
}

#priceField {
	margin-top: 50px;
	color: white;
	font-size: 400%;
	text-align: center;
}
