html{
	background: white;
	text-align: center;
	margin-top: 50px;
}

h1{
	font-size:35px;
	color:purple;
	font-family:"Arial";
	padding: 0px;
	margin: 0px
}
h2{
	font-size: 25px;
	color: black;
	font-family: "Arial";
	margin: 0px;
	padding: 0px;
}

h3{
	font-family: "Arial";
	font-size: 15px;
}

p{
	margin-top: 100px;
	font-family: "Arial";
	font-size: 150px;
	align-content: center;
}

input{

}

