body {
	background:  #grey;
	font-family: 'Montserrat', sans-serif;
}
.jumbotron {
	
}
h1 { 
	color: #4d4dff;
	font-weight: bold;
}

h2{
	font-weight: bold;
	color: black;
}

p{
	color: grey;
}

#mario {
	margin-top: 50px;
	height: 30%;
	width: 30%;

}

#priceField {
	color: black;
}

