
table, .table-title {
	margin-left: 10%;
	align-self: center;
}

table {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	max-width: 80%;
}

th {
	width: 30%;
}
body {
	background:   #003d66;
	font-family: 'Consolas', sans-serif;
	text-align: left;
}

h1 { 
	color: #006bb3;
	font-weight: bold;
	font-size: 350%;
}

h2 {
	font-weight: bold;
}

p {
	color: grey;
	font-weight: bold; 
	font-size: 170%;
}

.table-title{
	margin-top: 3%;
	font-size: 150%;
	color: #006bb3;
}
.jumbotron {
	background: #171721;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 20px;
}

.navbar-brand {
	font-size: 1.5em;
	padding: 0px;
	margin: 0px;
}

#mario {
	height: 25%;
	width: 25%;
	margin-top: 30px;
	margin-bottom: 10px;
}

#priceField {
	margin-top: 50px;
	color: white;
	font-size: 350%;
	text-align: center;
}
